.logo{
    width: 100px;
    padding: 20px;
}

.icon{
    padding-right: 10px;
    padding-left: 10px;
    width: 18px;
    z-index: -1;
 }



.menu-item{
    box-sizing: border-box;
    padding-right:10px;
    color:white;
    font-weight: 400;
    font-size: 1em;
    line-height: 60px;
    border-top: 1px solid rgba(11, 10, 16, .3);
    border-left: 10px solid transparent;
    z-index: -1;
}

.menu-item-clicked{
    background-color: #122143;
    border-left:10px solid #5584ff;
    padding-left: 10px;
}

.menu-item:hover{
    background-color: #122143;
    border-left:10px solid #5584ff;
    padding-left: 10px; 
    cursor: pointer;
}
