.message-item{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-top: 1px solid  rgba(11, 10, 16, .3);
    z-index: -1;
}

.unread{
    /* border-left: 1px solid  rgba(11, 10, 16, .3);
    border-right: 1px solid  rgba(11, 10, 16, .3);     */
    background-color: #f4f5f8ec;
}

.message-item .avatar-div{
    flex-basis:30px;
    padding: 5px;
}

.message-item .picture{
    width:30px;
}

.message-item .text-area{
    display: flex;
    flex-direction: column;
}

.sender-name{
    font-weight: bold;
    font-size: 0.7em;
}

.message-received{
    padding-left: 5px;
    font-size: 0.6em;
    color:#8492af;
}

.message-content{
    font-size: 0.6em;
}

.icons{
    height: 9px;
    width: 11px;
    padding: 3px 5px 0px 0px;
}

